body {
	margin: 0 auto;
}

#header {
	margin: 0 auto;
	text-align: center;
	text-decoration-style: wavy;
}

#container {
	width: 500px;
	margin: 0 auto;
	text-align: center;
}

#productContainer {
	width: 600px;
	margin: auto;
}

#product {
	width: 180px;
	height: 210px;
	text-align: center;
	display: inline-block;
}

input {
	display: block;
	margin: 0 auto;
	margin-bottom: 5px;
}

button {
	display: inline-block;
}
