body {
	margin: 0 auto;
}

#header {
	margin: 0 auto;
	text-align: center;
	text-decoration-style: wavy;
}

#container {
	width: 500px;
	margin: 0 auto;
	text-align: center;
}

#productContainer {
	width: 540px;
	margin: auto;
}

#product {
	width: 180px;
	height: 210px;
	text-align: center;
	display: inline-block;
}

#productImage {
	width: 170px;
	height: 240px;
}

#pHeader {
	font-size: 200%;
	font-weight: bold;
}

#pDesc::first-line {
	font-weight: bold;
}

.bold {
	font-weight: bold;
}

.price {
	color: red;
}

#image {
	display: block;
  margin-left: auto;
  margin-right: auto;
	width: 170px;
	height: auto;
}

/*
input {
	display: block;
	margin: 0 auto;
	margin-bottom: 5px;
}

button {
	display: inline-block;
}
*/
